p,
h1,
span {
    margin: 0;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.ss-main.breed-select {
    width: 250px;
    margin-bottom: 20px;
}

.cat-info {
    display: flex;
    gap: 16px;
}

.cat-wrapper {
    width: 480px;
}

.cat-header {
    margin-bottom: 10px;
}

.cat-desc {
    margin-bottom: 10px;
}